*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
    font-size: 16px;
}
.full{
    background-image: url(images/images.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container{
    width: 50%;
    max-width: 600px;
    min-width: 400px;
    height: 50%;
    background-color: hsla(201, 100%, 6%, 0.6);
    padding: 50px 60px;
    

}
.input{
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
    
}
.input label{
    color: white;
    font-weight: lighter;
    margin-bottom: -13px;
    margin-top: 10px;
}
.input input{
    height: 25px;
    padding: 15px;
    background-color: hsla(201, 100%, 91%, 0.3);
    border: 1px solid hsl(201, 100%, 6%);
    outline: none;
    border-radius: 5px;
    color: white;
    font-weight: lighter;
}
.input input:focus{
    border: 1px solid hsla(201, 100%, 50%);
}
h1{
    color: white;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
button{
    width: 100%;
    padding: 7px;
    color: white;
    margin-top: 20px;
    background-color: hsla(201, 100%, 50%, 0.1);
    border: 1px solid hsl(201, 100%, 50%);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: hsla(201, 100%, 50%, 0.3);
}
button:focus{
    background-color: hsla(201, 100%, 50%, 0.5);
}
